<div nz-row>
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="4">
    <div class="rec">
      <div class="rec_title">请选择</div>
      <div class="filter">
        <input type="text" nz-input [placeholder]="_searchPlaceholder" [(ngModel)]="searchDate" (ngModelChange)="_searchData($event)">
      </div>
      <div class="rec_content rec-col-center">
        <ng-container>
          <div class="notf" style="" *ngIf="!selection.length">
            <span>没有数据</span>
          </div>
        </ng-container>
        <label nz-checkbox class="label" style="width:100%;" *ngFor="let item of selection" (click)="log(item,$event)">
          <span>{{item.name}}</span>
        </label>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <!-- <button nz-button nzType="primary">测试佐罗</button> -->
  </div>
</div>
